services:
  db:
    image: postgres:15-alpine
    container_name: db
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: WebApp
    env_file:
      - .env
    environment:
      - DB_URL=${DB_URL_SCHEME}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "alembic upgrade head &&
             uvicorn main:app --host ${APP_HOST} --port ${APP_PORT} --reload"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: WebApp-Frontend
    ports:
      - "3000:80"
    depends_on:
      - app
    restart: always

volumes:
  postgres_data: